@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.Credit {
    bottom: 0;
    left: 0;
    color: white;
    width: 100%;
    z-index: 10;
    background-color: #16102993;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Comfortaa', sans-serif;
    h3 {
      padding-left: 5vw;
    }
    .container {
      display: flex;
      align-items: center;
      height: 200px;
      margin: 0 auto;
      padding: 0 20px;
    }
    .logo {
      border-radius: 30px 30px 30px 30px;
      margin-left: 30px;
      height: 50px;
      width: auto;
    }
  }
  