// Portfolio.scss

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.Portfolio {
  margin: 0 5%;
  margin-bottom: 100px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;

  h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    .project {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
